defaults
   timeout connect 5s
   timeout client 1m
   timeout server 1m

frontend stats
   bind *:1936
   mode http
   stats uri /
   stats show-legends
   no log

frontend http_front
   bind *:80
   mode http
   acl url_config path_beg /config
   use_backend config_back if url_config

   default_backend http_back

backend config_back
    mode http
    balance roundrobin
    http-request set-path "%[path,regsub(^/config/,/)]"
    server appconfig app-config.service.consul:8888 resolvers consul resolve-prefer ipv4 check
backend http_back
    mode http
    balance roundrobin
    server-template mywebapp 1-10 _web._tcp.service.consul resolvers consul resolve-prefer ipv4 check

resolvers consul
    nameserver consul consul:8600
    accepted_payload_size 8192
    hold valid 5s
